/* Global Layout Set-up */

html  {
        border-top: 30px lightblue
        }

/* Heading Styling */

h1 {
font-size: 1.5em;
line-height: .5em;
color: lightblue
}

h2 {
font-size: 1em;
line-height: 1em;
color: black
}
