/* Global Layout Set-up */

html  {
        border-top: 30px white
        }

/* Heading Styling */

h1 {
font-size: 1.5em;
line-height: .5em;
color: blue
}

h3 {
font-size: 1em;
line-height: 1em;
color: add8e6
}
